.member-list {
  margin: 10px 0 0;
  background-position: left 10px;
  background-repeat: no-repeat;
  padding-left: 15px;
  line-height: 30px;
}

.list-style {
  display: flex;
}
.managingComittee {
  width: 100%;
  background-color: #04921c;
  padding: 10px 0;
  color: #fff;
  font-family: 'Courgette', cursive;
  text-align: center;
  margin-bottom: 9px;
  height: 50px;
}
