.img-para-container {
  display: flex;
  border-bottom: 4px double #ccc;
  float: left;
  margin-bottom: 25px;
  padding-bottom: 25px;
  width: 100%;
}
.display-flex {
  display: flex;
}
.iat-container {
  margin-left: 10px;
}

li {
  margin: 10px 0 0;
  background-position: left 10px;
  background-repeat: no-repeat;
  padding-left: 15px;
  line-height: 30px;
}
