.page-header {
  border-bottom: 1px solid #ccc;
  color: #515151;
  font-size: 20px;
  letter-spacing: -1px;
  padding-bottom: 12px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 20px;
}
.short_br {
  background-color: #04921c;
  bottom: -2px;
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  width: 20%;
}

.paragraph-style {
    color: #515151;
    font-family: arial;
    font-size: 14px;
    margin: 0 0 10px;
    text-align: justify;
  }